.p-footer {
    &-top {
        position: relative;
        background-color: $footer-top;
        @include mq() {
            margin-bottom: 130px;
        }
        // margin-top: 130px 0 130px;
        @include mq(medium,max){
            margin-bottom: 70px;
        }

        @include mq(medium, max) {
            margin-top: 110px;
        }

        &_wrap {
            position: relative;
            height: 250px;

            @include mq(medium, max) {
                height: 500px;
                width: 320px;
                margin: 0 auto;
            }
        }

        &_icon-wrap {
            position: relative;
            display: flex;
            width: 80%;
            top: -20px;


            @include mq(medium, max) {
                width: 60%;
                flex-wrap: wrap;
            }

            img {
                width: calc((100% -10px)/2);
                height: 100%;
                padding-right: 10px;
                &:last-child {
                    padding-right: 0;
                }
                @include mq(medium, max) {
                    width: 50%;
                }
            }
        }

        &_img-wrap {
            margin-right: 0;
            margin-left: auto;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 40%;

            @include mq(medium, max) {
                width: 297px;
                right: 0px;
                bottom: 278px;

                // left: 50%;
                // transform: translateX(-50%);
            }
        }

        p {
            @include notoserif;
            @include bold;
            font-size: 1.8rem;
            width: 80%;
            line-height: 1.4;
            @include mq(medium, max) {
                display: block;
                position: absolute;
                width: 205px;
                height: 80px;
                top: 100px;
                z-index: 2;
                left: 34%;
                transform: translateX(-50%);
                line-height: 1.5;
                text-shadow: 3px 3px 5px #fff;
            }
        }

        &_bannar-wrap {
            width: 60%;
            margin-left: 0;
            margin-right: auto;
            display: flex;
            padding: 20px;
            background-color: #fff;
            border-radius: 15px;
            margin-top: 20px;

            @include mq(medium, max) {
                width: 320px;
                height: 260px;
                margin: 160px auto 0;
                display: block;
            }

            a + a {
                margin-left: 15px;
            }
        }
    }

    &-under {
        position: fixed;
        padding: 20px 0;
        height: 130px;
        background-color: $footer-under;
        border-top: 5px solid $blue;
        z-index: 10;
        width: 100%;
        bottom: 0;

        @include mq(medium, max) {
            height: 70px;
            padding: 10px 0;
        }

        h1 {
            height: 80px;

            img {
                height: 80px;
                width: auto;

                @include mq(large, max) {
                    height: 60px;
                    width: auto;
                }

                @include mq(medium, max) {
                    height: 40px;
                }
            }
        }

        &_icon {
            margin-left: 50px;
        }

        &_wrap {
            display: flex;
            justify-content: space-between;
        }
    }

    &-menu {
        ul {
            height: 100%;
            display: flex;
            align-items: center;

            @include mq(medium, max) {
                height: auto;
            }

            li {
                margin-left: 8px;
                height: 60px;

                @include mq(xlarge, max) {
                    height: 55px;
                }

                @include mq(large, max) {
                    height: 40px;
                }

                @include mq(small, max) {
                    height: 35px;
                }

                &:nth-of-type(4),
                &:nth-of-type(5) {
                    @include mq(medium, max) {
                        display: none;
                        a {
                            display: none;
                            img {
                                display: none;
                            }
                        }
                    }
                }

                img {
                    height: 100%;
                    width: auto;
                }

                .p-header-top_tel-01 {
                    display: flex;

                    @include mq(medium, max) {
                        display: none;
                    }

                    img {
                        height: 25px;
                        width: auto;
                        margin-top: 3px;
                    }
                    p {
                        margin-left: 10px;
                        font-size: 3.2em;
                        @include bold;

                        @include mq(xlarge, max) {
                            font-size: 2rem;
                        }

                        @include mq(large, max) {
                            font-size: 1.8rem;
                        }
                    }
                }

                span {
                    @include notoserif;
                    @include bold;
                    font-size: 2rem;
                    line-height: 1.5;
                    margin-left: -10px;

                    @include mq(xlarge, max) {
                        font-size: 1.5rem;
                    }

                    @include mq(large, max) {
                        font-size: 1.2rem;
                    }

                    @include mq(medium, max) {
                        display: none;
                    }
                }
            }
        }
    }
}
