.p-confirm {
  margin-bottom: 200px;
  @include mq(large, max) {
    margin-bottom: 100px;
  }
  @include mq(medium, max) {
    font-size: 1.6rem;
  }

  &-top {
    line-height: 2;
    p {
      &:nth-of-type(2) {
        @include bold;
        margin-top: 40px;

        @include mq(medium, max) {
          margin-top: 30px;
        }
      }
    }
    span {
      @include bold;

      @include mq(medium, max) {
        font-size: 2rem;
      }
      &:before {
        content: "";
        width: 30px;
        height: 24px;
        background: url("../images/common/header/call@2x_pc.png") no-repeat;
        vertical-align: middle;
        display: inline-block;
        background-size: contain;
        margin-right: 10px;
      }
    }
    br {
      display: none;
      @include mq(medium, max) {
        display: block;
      }
    }
  }

  &_form {
    margin-top: 40px;

    table {
      tr {
        @include mq(medium, max) {
          border-right: none;
          border-left: none;
          &:not(:last-of-type) {
            border-bottom: none;
          }
        }
        td {
          padding: 35px 20px;

          @include mq(medium, max) {
            padding: 20px 0 0;
          }
        }
      }
    }
    .c-btn_yellow {
      margin-top: 40px;
    }
  }

  &_information {
    table {
      tr {
        &:nth-of-type(1),
        &:nth-of-type(4),
        &:nth-of-type(5) {
          th {
            &::after {
              content: none;
            }
          }
        }

        &:last-of-type {
          @include mq(medium, max) {
            border-bottom: none;
          }
        }
      }
    }
  }
}
