.p-news-detail {
    @include mq(medium, max) {
        margin-top: 20px;
    }

    time {
        font-size: 1.4rem;
        color: #707070;

        @include mq(medium, max) {
            margin-top: 20px;
        }
    }

    h3 {
        font-size: 3.2rem;
        @include bold;

        @include mq(medium, max) {
            font-size: 2rem;
            line-height: 1.5;
        }
    }

    &_hedding {
        font-size: 2.4rem !important;
        @include noto;

        @include mq(medium, max) {
            font-size: 1.6rem !important;
        }
    }

    &_img {
        width: 100%;
        height: 496px;
        margin-top: 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            @include mq(medium, max) {
                position: absolute;
                left: -15px;
                width: 100vw;
            }
        }

        @include mq(medium, max) {
            height: 300px;
            position: relative;
        }

        @include mq(small, max) {
            height: 233px;
        }
    }

    p {
        margin-top: 20px;
        line-height: 2;

        @include mq(medium, max) {
            font-size: 1.3rem;
        }
    }

    .c-pagination-detail {
        @include mq(medium, max) {
            ul {
                margin-top: 0;
                li {
                    &:nth-of-type(1),
                    &:nth-of-type(3) {
                        display: none;
                    }
                }
            }
        }
    }
}
