
#comments { font-size:12px; }

#comment_area, #trackback_area { margin:15px 0 20px; padding:0 0 5px 0;  }
#trackback_area { display:none; }


/*  ------ comment_header ----------------------------------------------------------------------------------------------------------------------- */
#comment_header { border-bottom:1px solid #ccc; position:relative; margin:0 0 30px 0; padding:0; height:31px; }

#comment_headline { position:absolute; left:0px; top:5px; font-size:16px; margin:0; padding:0; line-height:100%; }

#comment_header ul { position:absolute; right:0px; bottom:9px; margin:0; }

#comment_header ul li { float:left; text-align:center; margin:0; }

#comment_header ul li a, #comment_header ul li p
 { font-size:11px; padding:0; margin:0; text-decoration:none; display:block; font-weight:bold; color:#aaa; }

#comment_header ul li.comment_switch_active a, #comment_header ul li#comment_closed p
 { color:#00a2d9; }

#comment_header ul li a:hover { color:#00a2d9; }

#comment_header ul li.comment_switch_active a:hover { }

#comment_header ul li#comment_switch, #comment_header ul li#comment_closed { border-left:1px dotted #aaa; padding:0 0 0 15px; margin:0 0 0 15px; }

/*  ------ comment ------------------------------------------------------------------------------------------------------------------------------ */
.commentlist { list-style-type:none; margin:0; padding:0; }
.comment { border:1px solid #ccc; color:#777; margin:0 0 15px; padding:15px 20px 3px; background:#eee; }
#comments .post { margin:0; padding:0; }
.even_comment, .odd_comment_children { background:#fafafa; }
.odd_comment, .even_comment_children { background:#fefefe; }
.admin-comment { }

/* ----- comment-meta ----- */
.comment-meta { position:relative; margin:0 0 10px 0; }

.comment-meta-left { float:left; width:400px; }
.avatar { float:left; margin:0 10px 0 0; border:1px solid #ccc; background:#fff; width:37px; height:37px; padding:2px; }
.comment-name-date { padding:2px 0 0 0;  }

a.admin-url { text-decoration:underline; }
a.guest-url { text-decoration:underline; }

.comment-name-date { margin:0; }
.comment-date { font-size:11px; color:#757676; margin:5px 0 0 0; }

.comment-act { background:url(img/common/arrow3.gif) no-repeat left; font-size:11px; position:absolute; right:0px; padding:0 0 0 10px; margin:5px 0 0 0; }
.comment-act li { display:inline; margin:0; }
.comment-reply a, .comment-reply a:visited { border-right:1px solid #aaa; padding:0 10px 0 0; margin:0 6px 0 0; }
.comment-edit a, .comment-edit a:visited { border-left:1px solid #aaa; padding:0 0 0 10px; margin:0 0 0 6px; }

/* ----- comment-content ----- */
.comment-content { padding:0; margin:0; }
* html .comment-content { padding:5px 0 0 0; }
.comment-content a, .comment-content a:visited { text-decoration:underline; }
.comment-content a:hover { }
.comment-content p { margin:0 0 10px 0; }
.comment blockquote span { margin:0 0 -1em 0; display:block; }

.comment-note { display:block; font-size:11px; margin:0 0 1em 0; color:#33a8e5; border:1px solid #94ddd4; padding:10px 15px; background:#d6f4f0; }

.comment_closed { border:1px solid #ccc; text-align:center; margin:0 0 15px; padding:15px; background:#fefefe; }

/* ----- trackback-contens ----- */
.trackback_time { font-size:11px; color:#757676; margin:0 0 7px 0px; }
.trackback_title { margin:2px 0 8px 0; margin:0 0 10px 0px; }

#trackback_url_area { }
#trackback_url_area label { float:left; margin:4px 12px 0 0; font-size:11px; }
#trackback_url_area input { border:1px solid #ccc; background:#fafafa; padding:5px; width:648px; font-size:11px; }
.three_column #trackback_url_area input { width:549px; }


/* ----- comment-pager ----- */
#comment_pager { margin:0 0 10px; height:24px; }
#comment_pager a, #comment_pager span { display:inline; float:left; margin:0 10px 0 0; }
#comment_pager .current { text-decoration:underline; }



/* ---------- form area ------------------------------------------------------------------------------------------------------------------------- */
.comment_form_wrapper { border:1px solid #ccc; margin:0 0 15px; padding:15px; background:#fff; }

#cancel_comment_reply  { background:url(img/common/arrow3.gif) no-repeat left center; margin:0 0 1em 0; padding:0 0 0 10px; }

#comment_user_login p { padding:0 0 0 1px; margin:0; line-height:100%; }
#comment_user_login span { margin:0 0 0 40px; }

#comment_login { margin:0; padding:3px 30px 10px 30px; }
#comment_login p { margin:0; padding:12px 0 11px 36px; line-height:100%; }
#comment_login a { margin:0 0 0 20px; padding:0 0 0 20px; background:url(img/common/arrow3.gif) no-repeat 10px 3px; }

#guest_info { padding:0; width:100%; }
#guest_info div { margin:0 0 12px 0; text-align:left; }
#guest_info input { margin:0; padding:5px 0; border:1px solid #ccc; width:100%; background:#fff; color:#777; }
#guest_info input:focus { border:1px solid #00a2d9; }
#guest_info label { display:block; margin:0 0 5px 0; padding:0 0 0 0; font-size:11px; color:#888;}
#guest_info span { color:#666; margin:0 10px 0 0; }

#comment_textarea textarea { margin:15px 0 0; width:100%; height:150px; border:1px solid #ccc;
                             background:#fff; color:#777; font-size:11px; overflow:auto; }
#comment_textarea textarea:focus { border:1px solid #00a2d9; }

#submit_comment_wrapper { text-align:center; }
#submit_comment { 
  background:#aaa; border:none; cursor:pointer; color:#fff; font-size:13px; width:200px; height:37px; margin:15px auto 0; display:block;
  -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  -ms-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}
#submit_comment:hover { background:#00a2d9; }

#input_hidden_field { display:none; }

/* ----- password protected ----- */
.password_protected { text-align:center; margin:0 0 10px 0; padding:10px 20px; color:#fff; background:#3db4b2; }
.password_protected p { font-size:12px; margin:0; }