.c-pagination,
.wp-pagenavi {
  margin: 0 auto;
  width: max-content;
  ul {
    display: flex;

    @include mq(medium, max) {
      position: relative;
    }
    a.page.smaller,
    .current,
    a.page.larger {
      width: 50px;
      height: 50px;
      display: inline-block;
      text-align: center;
      @include bold;
      line-height: 50px;
      margin-right: 15px;
      border: 1px solid $blue;

      @include mq(medium, max) {
        width: 40px;
        height: 40px;
        line-height: 40px;
      }

      .nextpostslink,
      .previouspostslink {
        // border: none;
        width: 60px;
        color: $blue;
        &:hover {
          background-color: #fff;
          a {
            color: $blue;
          }
        }

        @include mq(medium, max) {
          position: absolute;
        }
      }

      &:not(:last-of-type) {
        margin-right: 15px;
      }

      a.previouspostslink {
        margin-right: 15px;
        color: $blue;
        &::before {
          content: "";
          background: url("../images/common/pagination-arrow.svg");
          display: inline-block;
          margin-right: 8px;
          border: none;
          width: 11px;
          height: 10px;
          transform: rotate(180deg);
          background-size: contain;
        }

        @include mq(medium, max) {
          bottom: -50px;
        }
      }

      .nextpostslink {
        &::after {
          content: "";
          background: url("../images/common/pagination-arrow.svg");
          display: inline-block;
          width: 11px;
          border: none;
          height: 10px;
          margin-left: 8px;
          background-size: contain;
        }

        @include mq(medium, max) {
          bottom: -50px;
          right: 8px;
        }
      }
    }
  }
}

.wp-pagenavi a,
.wp-pagenavi span {
  text-decoration: none;
  border: none;
  padding: 0;
  margin-right: 16px;
  color: $blue;

  &:hover {
    background-color: $blue;
    opacity: 1;
    color: #fff;
  }
}

a.previouspostslink {
  margin-right: 15px;
  color: $blue;

  &:hover {
    opacity: 0.7;
    background-color: #fff;
    color: $blue;
  }
  &::before {
    content: "";
    background: url("../images/common/pagination-arrow.svg");
    display: inline-block;
    margin-right: 8px;
    border: none;
    width: 11px;
    height: 10px;
    transform: rotate(180deg);
    background-size: contain;
  }

  @include mq(medium, max) {
    bottom: -50px;
  }
}

a.nextpostslink {
  &:hover {
    background-color: #fff;
    color: $blue;
    opacity: 0.7;
  }
  &::after {
    content: "";
    background: url("../images/common/pagination-arrow.svg");
    display: inline-block;
    width: 11px;
    border: none;
    height: 10px;
    margin-left: 8px;
    background-size: contain;
  }

  @include mq(medium, max) {
    bottom: -50px;
    right: 8px;
  }
}

// 詳細ページ
.c-pagination-detail {
  width: max-content;
  margin: 40px auto 120px;
  ul {
    display: flex;

    @include mq(medium, max) {
      position: relative;
      margin-top: 104px;
    }
    li {
      width: 153px;
      height: 50px;
      transition: 0.3s;
      text-align: center;

      &:hover {
        opacity: 0.6;
      }

      p {
        margin-top: 0;
      }
      a {
        color: $blue;
        line-height: 50px;
        @include bold;
      }
      &:nth-of-type(1) {
        a {
          &::before {
            content: "";
            background: url("../images/common/pagination-arrow.svg");
            display: inline-block;
            margin-right: 8px;
            width: 11px;
            height: 10px;
            transform: rotate(180deg);
            background-size: contain;
          }
        }

        @include mq(medium, max) {
          position: absolute;
          top: -55px;
          left: -80px;
        }
      }
      &:nth-of-type(2) {
        border: 1px solid $blue;
        width: 153px;
        height: 50px;
        margin: 0 50px;
      }
      &:nth-of-type(3) {
        a {
          &::after {
            content: "";
            background: url("../images/common/pagination-arrow.svg");
            display: inline-block;
            margin-left: 8px;
            width: 11px;
            height: 10px;
            background-size: contain;
          }
        }

        @include mq(medium, max) {
          position: absolute;
          top: -55px;
          right: -80px;
        }
      }
    }
  }
}
